<section>
    <header>
        <h2>{{userName}}'s tasks</h2>
        <menu>
            <button (click)="onClickAddTask()">Add Task</button>
        </menu>
    </header>

    @if(isAddingTask){
        <app-new-task [userId]="userId" (closeComponent)="onClosingNewTask()"></app-new-task>
    }
    

    <ul>
        @for(task of selectedUserTasks; track task.id){
            <li>
                <app-task [taskInfo]="task" (complete)="onCompleteTask($event)"></app-task>
            </li>
        }
    </ul>
</section>